<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" routerLink="/home" style="font-size: 1cm; position:fixed; bottom:0.2cm"></ion-icon>
    <ion-title style="text-align: center; font-weight: bolder; ">Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let index of UsersList" (click)="UserDetails(index.index)">
      <ion-label>
        <ion-avatar slot="start">
          <img src={{index.picture.thumbnail}}>
        </ion-avatar>
        <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: bolder; border-color: darkred;">
          {{index.name.title}}
          {{index.name.first}} {{index.name.last}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-tab-bar slot="icon-only" class="darkmode">
  <ion-tab-button class="darkmode">
    <ion-icon name="Call"></ion-icon>
    <ion-badge color="primary">15</ion-badge>
    <ion-label>Dial</ion-label>
  </ion-tab-button>
  <ion-tab-button class="darkmode">
    <ion-icon name="people"></ion-icon>
    <ion-label>Contacts</ion-label>
  </ion-tab-button>
  <ion-tab-button class="darkmode">
    <ion-icon name="star"></ion-icon>
    <ion-label>Favorites</ion-label>
  </ion-tab-button>
</ion-tab-bar>