<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person-circle" ></ion-icon>Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-icon name="person-circle" style="font-size: 2cm;"></ion-icon>
      <p style="text-align: center; color: darkred; font-size: 20px" *ngIf="!found">{{error}}</p>
      <form>
        <ion-list line="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label class="label">Login<ion-text color="danger">*</ion-text></ion-label>
            <ion-item>
              <ion-input required type="text"  [(ngModel)]="Username" class="text"></ion-input>
            </ion-item>
          </ion-item>
          <ion-item>
            <ion-label class="label">Password<ion-text color="danger">*</ion-text></ion-label>
            <ion-item>
              <ion-input required type="Password" [(ngModel)]="Password" class="text" ></ion-input>
            </ion-item>
          </ion-item>
        </ion-list>
        <ion-button (click)="getUser()" routlink="/list-contacts" shape="round" color="dark">
          Submit
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
